@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
  @apply p-3 text-white text-xs;
}

pre code.hljs{
  display:block;
  overflow-x:auto;
  padding:1em;
}
code.hljs{
  padding:3px 5px
}
.hljs{
  @apply bg-cy-blue-darkest
}
.hljs ::selection,.hljs::selection{
  @apply bg-cy-blue-dark;
}
.hljs-comment{
  @apply text-cy-gray
}
.hljs-tag{
  @apply text-cy-gray-light
}
.hljs-operator,.hljs-punctuation,.hljs-subst{
  @apply text-cy-gray
}
.hljs-operator{
  opacity:.7
}
.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{
  @apply text-cy-red
}
.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{
  @apply text-cy-gray-light
}
.hljs-number{
  @apply text-cy-green
}
.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{
  color:#795da3
}
.hljs-strong{
  font-weight:700;
  color:#795da3
}
.hljs-addition,.hljs-built_in,.hljs-code,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp,.hljs-string,.hljs-title.class_.inherited__{
  @apply text-cy-blue
}
.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{
  color:#795da3
}
.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{
  @apply text-cy-red
}
.hljs-emphasis{
  color:#a71d5d;
  font-style:italic
}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{
  @apply text-cy-gray
}
.hljs-meta .hljs-keyword,.hljs-meta-keyword{
  font-weight:700
}


