@tailwind base;
@tailwind components;
@tailwind utilities;

#api-view {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-cy-blue-darker h-screen overflow-scroll mb-10 ;
  z-index: 9999999
}

[data-cy=showAuth]:checked + label,
[data-cy=showQuery]:checked + label,
[data-cy=showRequestHeaders]:checked + label,
[data-cy=showRequestBody]:checked + label,
[data-cy=showResponseBody]:checked + label,
[data-cy=showResponseHeaders]:checked + label,
[data-cy=showCookies]:checked + label {
  @apply text-cy-gray-light
}

[data-cy=showAuth]:checked ~ [data-cy=auth],
[data-cy=showQuery]:checked ~ [data-cy=query],
[data-cy=showRequestHeaders]:checked ~ [data-cy=requestHeaders],
[data-cy=showRequestBody]:checked ~ [data-cy=requestBody],
[data-cy=showResponseBody]:checked ~ [data-cy=responseBody],
[data-cy=showResponseHeaders]:checked ~ [data-cy=responseHeaders],
[data-cy=showCookies]:checked ~ [data-cy=cookies] {
  @apply block
}

[data-cy=showAuth]:not(:checked) ~ [data-cy=auth],
[data-cy=showQuery]:not(:checked) ~ [data-cy=query],
[data-cy=showRequestHeaders]:not(:checked) ~ [data-cy=requestHeaders],
[data-cy=showRequestBody]:not(:checked) ~ [data-cy=requestBody],
[data-cy=showResponseBody]:not(:checked) ~ [data-cy=responseBody],
[data-cy=showResponseHeaders]:not(:checked) ~ [data-cy=responseHeaders],
[data-cy=showCookies]:not(:checked) ~ [data-cy=cookies] {
  @apply hidden
}

pre {
  @apply p-3 text-cy-gray-light text-xs;
}

pre code.hljs{
  display:block;
  overflow-x:auto;
  padding:1em;
}
code.hljs{
  padding:3px 5px
}
.hljs{
  @apply bg-cy-blue-darkest border-slate-800 p-4 border mt-2
}
.hljs ::selection,.hljs::selection{
  @apply bg-cy-blue-dark;
}
.hljs-comment{
  @apply text-cy-gray
}
.hljs-tag{
  @apply text-cy-gray-light
}
.hljs-operator,.hljs-punctuation,.hljs-subst{
  @apply text-cy-gray
}
.hljs-operator{
  opacity:.7
}
.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{
  @apply text-cy-red
}
.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{
  @apply text-cy-gray-light
}
.hljs-number{
  @apply text-cy-green
}
.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{
  color:#795da3
}
.hljs-strong{
  font-weight:700;
  color:#795da3
}
.hljs-addition,.hljs-built_in,.hljs-code,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp,.hljs-string,.hljs-title.class_.inherited__{
  @apply text-cy-blue
}
.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{
  color:#795da3
}
.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{
  @apply text-cy-purple
}
.hljs-emphasis{
  color:#a71d5d;
  font-style:italic
}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{
  @apply text-cy-gray
}
.hljs-meta .hljs-keyword,.hljs-meta-keyword{
  font-weight:700
}


